In [20]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gkey

In [21]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lasa,IT,2022-01-07 19:53:09,46.6166,10.7002,34.68,62,100,6.49
1,1,Victoria,HK,2022-01-07 19:51:29,22.2855,114.1577,64.38,82,60,5.99
2,2,Campo De Criptana,ES,2022-01-07 19:49:51,39.4046,-3.1249,40.14,65,1,8.19
3,3,Rikitea,PF,2022-01-07 19:53:10,-23.1203,-134.9692,77.36,76,96,17.34
4,4,Vaini,TO,2022-01-07 19:53:10,-21.2000,-175.2000,78.96,94,75,1.14

In [22]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [23]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2022-01-07 19:53:10,-23.1203,-134.9692,77.36,76,96,17.34
4,4,Vaini,TO,2022-01-07 19:53:10,-21.2000,-175.2000,78.96,94,75,1.14
13,13,Maragogi,BR,2022-01-07 19:51:37,-9.0122,-35.2225,81.84,72,26,12.08
19,19,Caravelas,BR,2022-01-07 19:53:15,-17.7125,-39.2481,78.17,89,100,8.28
21,21,Saldanha,ZA,2022-01-07 19:53:15,-33.0117,17.9442,77.05,79,32,3.87
22,22,Bathsheba,BB,2022-01-07 19:53:16,13.2167,-59.5167,84.81,58,40,20.71
24,24,Hithadhoo,MV,2022-01-07 19:53:16,-0.6000,73.0833,82.08,74,95,8.19
27,27,Osmena,PH,2022-01-07 19:53:17,10.5208,119.9258,79.25,81,6,16.17
34,34,Bengkulu,ID,2022-01-07 19:53:19,-3.8004,102.2655,76.35,88,99,3.20
39,39,Imbituba,BR,2022-01-07 19:53:21,-28.2400,-48.6703,75.09,62,71,8.52

In [32]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
3     Rikitea      PF     77.36 -23.1203 -134.9692
4       Vaini      TO     78.96 -21.2000 -175.2000
13   Maragogi      BR     81.84  -9.0122  -35.2225
19  Caravelas      BR     78.17 -17.7125  -39.2481
21   Saldanha      ZA     77.05 -33.0117   17.9442
22  Bathsheba      BB     84.81  13.2167  -59.5167
24  Hithadhoo      MV     82.08  -0.6000   73.0833
27     Osmena      PH     79.25  10.5208  119.9258
34   Bengkulu      ID     76.35  -3.8004  102.2655
39   Imbituba      BR     75.09 -28.2400  -48.6703

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,77.36,-23.1203,-134.9692,People ThankYou
4,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
13,Maragogi,BR,81.84,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
19,Caravelas,BR,78.17,-17.7125,-39.2481,Pousada dos Navegantes
21,Saldanha,ZA,77.05,-33.0117,17.9442,Blue Bay Lodge
22,Bathsheba,BB,84.81,13.2167,-59.5167,Atlantis Hotel
24,Hithadhoo,MV,82.08,-0.6000,73.0833,Scoop Guest House
27,Osmena,PH,79.25,10.5208,119.9258,Arjemarkyza Lodge
34,Bengkulu,ID,76.35,-3.8004,102.2655,Grage Hotel Bengkulu
39,Imbituba,BR,75.09,-28.2400,-48.6703,Praia Hotel Imbituba

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))