## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/barbu/OneDrive/Documents/BOOTCAMP-APIs Module 6/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.30,79,100,18.97,overcast clouds
1,1,Bengkulu,ID,-3.8004,102.2655,75.11,91,92,4.03,light rain
2,2,Hilo,US,19.7297,-155.0900,78.12,78,2,5.99,clear sky
3,3,Cape Town,ZA,-33.9258,18.4232,71.10,76,0,1.01,clear sky
4,4,Chicama,PE,-7.8447,-79.1469,70.34,67,46,7.27,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.30,79,100,18.97,overcast clouds
1,1,Bengkulu,ID,-3.8004,102.2655,75.11,91,92,4.03,light rain
2,2,Hilo,US,19.7297,-155.0900,78.12,78,2,5.99,clear sky
9,9,Mar Del Plata,AR,-38.0023,-57.5575,78.01,36,0,5.99,clear sky
10,10,Vaini,TO,-21.2000,-175.2000,78.96,89,100,8.05,light intensity shower rain
...,...,...,...,...,...,...,...,...,...,...
696,696,Bonthe,SL,7.5264,-12.5050,80.19,80,26,10.07,scattered clouds
700,700,Moerai,PF,-22.4333,-151.3333,80.64,74,59,6.91,broken clouds
703,703,Balabac,PH,7.9868,117.0645,79.59,81,31,9.64,scattered clouds
706,706,Lagos,NG,6.5833,3.7500,78.21,86,21,2.57,few clouds
711,711,Khartoum,SD,15.5518,32.5324,79.02,45,41,7.07,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                183
City                   183
Country                183
Lat                    183
Lng                    183
Max Temp               183
Humidity               183
Cloudiness             183
Wind Speed             183
Current Description    183
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.30,79,100,18.97,overcast clouds
1,1,Bengkulu,ID,-3.8004,102.2655,75.11,91,92,4.03,light rain
2,2,Hilo,US,19.7297,-155.0900,78.12,78,2,5.99,clear sky
9,9,Mar Del Plata,AR,-38.0023,-57.5575,78.01,36,0,5.99,clear sky
10,10,Vaini,TO,-21.2000,-175.2000,78.96,89,100,8.05,light intensity shower rain
...,...,...,...,...,...,...,...,...,...,...
696,696,Bonthe,SL,7.5264,-12.5050,80.19,80,26,10.07,scattered clouds
700,700,Moerai,PF,-22.4333,-151.3333,80.64,74,59,6.91,broken clouds
703,703,Balabac,PH,7.9868,117.0645,79.59,81,31,9.64,scattered clouds
706,706,Lagos,NG,6.5833,3.7500,78.21,86,21,2.57,few clouds
711,711,Khartoum,SD,15.5518,32.5324,79.02,45,41,7.07,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.30,overcast clouds,-23.1203,-134.9692,
1,Bengkulu,ID,75.11,light rain,-3.8004,102.2655,
2,Hilo,US,78.12,clear sky,19.7297,-155.0900,
9,Mar Del Plata,AR,78.01,clear sky,-38.0023,-57.5575,
10,Vaini,TO,78.96,light intensity shower rain,-21.2000,-175.2000,
11,Broken Hill,AU,83.91,clear sky,-31.9500,141.4333,
14,Bathsheba,BB,77.61,broken clouds,13.2167,-59.5167,
15,Port Macquarie,AU,79.90,scattered clouds,-31.4333,152.9167,
20,Cabedelo,BR,81.27,scattered clouds,-6.9811,-34.8339,
26,Atuona,PF,78.89,few clouds,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.30,overcast clouds,-23.1203,-134.9692,People ThankYou
1,Bengkulu,ID,75.11,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
2,Hilo,US,78.12,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Mar Del Plata,AR,78.01,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
10,Vaini,TO,78.96,light intensity shower rain,-21.2000,-175.2000,Keleti Beach Resort
...,...,...,...,...,...,...,...
693,Road Town,VG,78.89,scattered clouds,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
696,Bonthe,SL,80.19,scattered clouds,7.5264,-12.5050,Bonthe Holiday Village
700,Moerai,PF,80.64,broken clouds,-22.4333,-151.3333,Le Manotel
703,Balabac,PH,79.59,scattered clouds,7.9868,117.0645,Sing and Swing Lodge
711,Khartoum,SD,79.02,scattered clouds,15.5518,32.5324,Hotel China

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/barbu/OneDrive/Documents/BOOTCAMP-APIs Module 6/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))